<div class="container animated fadeIn">
	<div class="adeq-data-title" style="text-transform: uppercase;">
		The Flint Water Crisis
	</div>
	<div class="adeq-data-body">
		Nearly two years ago, the state decided to save money by switching Flint's water supply from Lake Huron (for which they were paying the city of Detroit), to the Flint River, a notorious tributary that runs through town known to locals for its filth. Soon after the switch, the water started to look, smell and taste funny. Residents said it often looked dirty. The Flint River is highly corrosive: 19 times more so than the Lake
		Huron supply, according to researchers from Virginia Tech.
		According to a class-action lawsuit, the state Department of Environmental Quality wasn't treating the Flint River water with an anti-corrosive agent, in violation of federal law. Therefore, the water was eroding the iron water mains, turning water brown. But what residents couldn't see was far
		worse. About half of the service lines to homes in Flint are made of lead and because the water wasn't properly treated, lead began leaching into the water supply, in addition to the iron.
		<br/><br/>
		This had been the status quo for nearly two years, and until September, city and state officials told worried residents that everything was fine. Former Flint Mayor Dayne Walling even drank it on local TV to make the point.
	</div>
</div>