<div class="animated fadeIn d-none d-md-block"  style="overflow-x: hidden;">
    <div class="row" style="background-color: black;">
        <div class="col-12">
            <div class="videoWrapper">               
                <iframe src="https://player.vimeo.com/video/240326133?title=0&byline=0&portrait=0&autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <div class="row" style="background-color: white; height: 80vh; position: relative;">
         <div class="col-10 offset-1" style="position: absolute; top: 50%; transform: translateY(-50%);" >
            <img class="img-fluid" src="assets/img/Process.png" />
        </div>
        
    </div>
    <div class="row" style="background-color: white; height: 20vh;">
        <div class="col-4 offset-4" style="text-align: center; margin: auto;" >
            <button class="btn btn-positive sonic-data-button" ui-sref="sonic-data" style="text-align: center; margin: auto;">View Sonic Data</button>
        </div>
    </div>
</div>







