<div class="animated fadeIn d-none d-md-block"  style="overflow-x: hidden; background: white;">
    <div class="videoWrapper" style="background: black;">               
        <iframe src="https://player.vimeo.com/video/308498685?title=0&byline=0&portrait=0&autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="container">      
        <div class="home-title">
            Data to Sound Process
        </div>

        <img class="img-fluid" src="assets/img/Process.png" /> 
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-3">
                <img class="img-fluid" src="assets/img/biosphere/biosphere1.jpg"/>
            </div>
            <div class="col-3">
                <img class="img-fluid" src="assets/img/biosphere/biosphere2.png"/>
            </div>
            <div class="col-3">
                <img class="img-fluid" src="assets/img/biosphere/biosphere3.jpg"/>
            </div>
            <div class="col-3">
                <img class="img-fluid" src="assets/img/biosphere/biosphere4.jpg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" src="assets/img/biosphere/biosphere5.jpg"/>
            </div>
            <div class="col-3">
                <img class="img-fluid" src="assets/img/biosphere/biosphere6.jpg"/>
            </div>
            <div class="col-3">
                <img class="img-fluid" src="assets/img/biosphere/biosphere7.jpg"/>
            </div>
            <div class="col-3">
                <img class="img-fluid" src="assets/img/biosphere/biosphere8.jpg"/>
            </div>
        </div>
            
        <div>
            This installation was exhibited at Biosphere 2 and visualizes
            the groundwater data collected by ADEQ on Arsenic, Lead,
            and Nitrate levels from over 4,000 samples in three
            Arizona counties over a ten-year timespan.
        </div>

        <div>
            Ripple Effect then traveled to Arizona communities that neighbor hazardous mining sites. These communities include Hayden-Winkelman, Dewey-Humboldt, Globe/Miami, and South Tucson.
        </div>

        <div>
            During these exhibitions in the Arizona mining communities, each resident was able to plug-in their data for the water 
            collected on their property to see how the water responds. This is made possible through UA’s data collection efforts 
            conducted by Dr. Ramírez-Andreotta’s Integrated 
            Environmental Science and Health Risk Laboratory.
        </div>

        <div>
            Ripple Effect will also be exhibited at the University of
            Michigan, in a state that had one of the worst
            municipal contaminations in history. 
            Support for this exhibition is provided by the Alliance for the Arts in Research Universities (a2ru).
            <br/><br/>
            Pictures coming soon!  (November 2019)
        </div>

        <div>
            Through surveying methods, we will evaluate and measure the impact and influence of art on the community. We are asking: 
            <br/>
            - How does art affect people? <br/>
            - When data is incorporated into art, does it change how an 
            individual understands the data in relation to their 
            environment?
        </div>
    </div>
</div>







