<div class="animated fadeIn"  style="overflow-x: hidden;">
    <div class="videoWrapper" style="background: black;">               
        <iframe src="https://player.vimeo.com/video/316657182?title=0&byline=0&portrait=0&autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
	<div class="container">
		<div class="adeq-data-body" style="margin-top: 20px; margin-bottom: 40px;">
			Project Harvest teaches Arizona communities how to collect harvested rainwater, soil, and plant samples for environmental analysis.  Our team reports back what levels of contamination exist in these samples and if they are above the standards set by the EPA and state agencies.  The residential, school, and community areas we visit are in close proximity to active mining sites and landfills, which can release contaminants into the neighboring water supply, air, and garden spaces.
			<br/><br/>
			By using two different visualization styles to communicate the data to participants (booklet vs. Ripple Effect), we hope to evaluate the ways in which people receive and understand their environmental quality information and how data visualization, among other variables, influences comprehension, knowledge, awareness, and efficacy.
		</div>
	</div>
</div>