<div class="animated fadeIn"  style="overflow-x: hidden; background: white;">
    <div class="videoWrapper" style="background: black;">               
        <iframe src="https://player.vimeo.com/video/308498685?title=0&byline=0&portrait=0&autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

        <div class="home-section">
            <div class="container" style="text-align: center">      
                <div class="home-title blue-light" style="margin-bottom: 5px; margin-top: 10px;">
                    Data to Sound Process
                </div>
                <img class="img-fluid" src="assets/img/Process.png" /> 
                <a class="sonic-data-button btn" ui-sref="sonic-data" style="margin-top: 10px; margin-bottom: 20px;">Explore the data</a>
            </div>
        </div>
        
        <div class="home-section bg-teal-light">
            <div class="container">
                <div class="home-title white">
                    Biosphere 2 Installation
                </div>
                <div class="home-body" style="margin-bottom: 10px; margin-top: 10px;">
                    This installation visualizes
                    the groundwater data collected by Arizona Department of Environmental Quality (ADEQ) on Arsenic, Lead,
                    and Nitrate levels from over 4,000 samples in three
                    Arizona counties over ten years.
                </div>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <img class="img-fluid home-grid" src="assets/img/biosphere/biosphere1.jpg"/>
                    </div>
<!--                     <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/biosphere/biosphere2.png"/>
                    </div> -->
                    <div class="col-6 col-md-4">
                        <img class="img-fluid home-grid" src="assets/img/biosphere/biosphere3.jpg"/>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="img-fluid home-grid" src="assets/img/biosphere/biosphere4.jpg"/>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="img-fluid home-grid" src="assets/img/biosphere/biosphere5.jpg"/>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="img-fluid home-grid" src="assets/img/biosphere/biosphere8.jpg"/>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="img-fluid home-grid" src="assets/img/biosphere/biosphere7.jpg"/>
                    </div>
<!--                     <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/biosphere/biosphere8.jpg"/>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="home-section">
            <div class="container">
                <div class="home-title blue-dark" style="margin-bottom: 20px;">
                    Arizona Communities
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img class="img-fluid" src="assets/img/Graphic1.png" /> 
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="home-body" style="margin-top: 10px;">
                            Ripple Effect then traveled to Arizona communities that neighbor hazardous mining sites. These communities include Hayden-Winkelman, Dewey-Humboldt, Globe/Miami, and South Tucson.
                            <br/><br/>
                            During these exhibitions in the Arizona mining communities, each resident was able to plug-in their data for the water 
                            collected on their property to see how the water responds. This is made possible through UA’s data collection efforts 
                            conducted by Dr. Ramírez-Andreotta’s Integrated 
                            Environmental Science and Health Risk Laboratory.
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 30px;">
                    <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest1.jpg"/>
                    </div>
        <!--             <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest2.jpg"/>
                    </div> -->
                    <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest3.jpg"/>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest4.jpg"/>
                    </div>
        <!--             <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest5.jpg"/>
                    </div> -->
                    <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest6.jpg"/>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest7.jpg"/>
                    </div>
        <!--             <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest8.jpg"/>
                    </div> -->
                    <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest9.jpg"/>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest10.jpg"/>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="img-fluid home-grid" src="assets/img/projectharvest/projectharvest11.jpg"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-section bg-blue-light">
            <div class="container">
                <div class="home-title white">
                    Coming Soon
                </div>
                <div class="home-body">
                    Ripple Effect will also be exhibited at the University of
                    Michigan, in a state that had one of the worst
                    municipal contaminations in history. 
                    Support for this exhibition is provided by the Alliance for the Arts in Research Universities (a2ru).
                    Pictures coming November 2019!
                </div>
            </div>
        </div>

        <div class="home-section" style="margin-bottom: 20px;">
            <div class="container">
                <div class="home-title blue-dark">
                    Measuring the impact
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-12 col-md-4">
                        <img class="img-fluid" src="assets/img/Graphic2.png" /> 
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="home-body">
                            Through surveying methods, we will evaluate and measure the impact and influence of art on the community. We are asking: 
                            <br/>
                            <ul>
                                <li>How does art affect people?</li>
                                <li>When data is incorporated into art, does it change how an 
                            individual understands the data in relation to their 
                            environment?</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-section bg-black">
            <div class="container">

                <div class="row" >
                    <div class="col-6 col-md-3">
                        <a href="https://ramirez-andreotta.faculty.arizona.edu/">
                        <img class="img-fluid" style="margin-top: 20px; max-height: 65px;" src="assets/img/iehsrl-horizontal.png"/>
                    </a>
                </div>
                <div class="col-6 col-md-3">

                    <a href="https://swes.cals.arizona.edu/">
                        <img class="img-fluid" style="margin-top: 20px; max-height: 50px;" src="assets/img/swes.png"/>
                    </a>
                    </div>

                    <div class="col-6 col-md-3">
                        <a href="http://art.arizona.edu/">
                        <img class="img-fluid"  style="margin-top: 20px; max-height: 50px;" src="assets/img/uaart.png"/>
                    </a>


                    </div>
                    <div class="col-6 col-md-3">
                        <a href="http://a2ru.org/">
                        <img class="img-fluid" style="margin-top: 20px; max-height: 40px;" src="assets/img/a2ru-horizontal.png"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>







