@import "partials/colors";
@import "partials/fonts";


@media (min-width: 768px) {
   .textColumns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}
}

a {
  text-decoration: none;
  color:$teal-med-light;
}

a:hover {
  color: $teal-light;
}



.faded {
  opacity: 0.6;
  transition: opacity 0.4s, transform 0.4s;

}

.faded:hover{
  opacity: 1;

}



.coloverlay{
  background-color: rgba(233, 33, 33, .4);
  border: 1px solid red;
  height: 100%;
}


.bg-row-label{
  // width: 100%;
  text-align: left;
  font-family: Charlevoix-Bold;
  text-transform: uppercase;
  color: black;
  font-size: 70pt;
  line-height: 70px;
  visibility: hidden; 
  position: absolute; 
  margin-top: 30px;
  // top: 0;
  height: inherit;
  color: black;
  opacity: 0.7;
}

.bg-Fluoride {
  background-color: $teal-med-dark;
}
.bg-Arsenic {
  background-color: $blue-light;
}
.bg-Lead {
  background-color: $green-light;
}
.bg-Nitrate {
  background-color: $teal-dark;
}
.bg-pH {
  background-color: $teal-light;
}

.color-Fluoride {
  color: $teal-med-dark;
}
.color-Arsenic {
  color: $blue-light;
}
.color-Lead {
  color: $green-light;
}
.color-Nitrate {
  color: $teal-dark;
}
.color-pH {
  color: $teal-light;
}

.adeq-data-title{
  color: $teal-med-light;
  text-transform: uppercase;
  font-family: Charlevoix-Bold;
  font-size: 70px;
  text-align: center;
  margin-top:40px; 
}

.adeq-data-subheader {
  color: $teal-med-light;
  font-family: Charlevoix-Bold;
  font-size: 30px;
  text-align: center;

}

.home-title {
  color: $blue-light;
  text-transform: uppercase;
  font-family: Charlevoix-Bold;
  font-size: 40px;
  text-align: center;
}


.adeq-data-map{
  width: 100%;
  float: right;

}

.adeq-data-map-legend {
  font-family: Geogrotesque-Regular;
  color: white;
  font-size: 35px;
}

.adeq-data-map-legend-2 {
  font-family: Geogrotesque-Regular;
  color: white;
  font-size: 28px;
  max-width: 75%;
  line-height: 38px;
  padding-bottom: 10px;
}

.legend-div{
    margin-bottom: 25px;
}

.adeq-data-map-credits {
  font-family: Geogrotesque-Regular;
  color: white;
  font-size: 14px;
  margin-bottom: 30px;
}

button { 
  font-family: Geogrotesque-Regular;

}

.adeq-data-body{
  font-family: Geogrotesque-Regular;
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
}

.adeq-data-text{
  margin-left: 20px;
  margin-right: 20px;
  border-top: 5px solid $teal-med-light;
  padding-top: 5px;
  font-family: Geogrotesque-Regular;
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
}

.sonic-data-button{
  color: white; 
  background-color: $teal-med-light;
  cursor: pointer;
}

.about-header {
  margin-right: 20px;
  color: $teal-med-light;
  font-family: Charlevoix-Bold;
  font-size: 36px;
}

.bold-colored {
  color: $teal-med-light;
  font-weight: bold;
}

.text-reference {
  font-size: 14px;
  color: $teal-med-light;
}

.map-1-key-1{
  height: 23px;
  margin-left: 17px;
}

.about-text {
  color: white;
  font-family: Geogrotesque-Regular;

}

.map-1-key-2{
  height: 140px;
  margin-left: 15px;
}

.map-1-key-3{
  height: 65px;
}

.map-2-key-1{
  height: 160px;
  margin-left: 8px; 
}

.counties {
  height: 55px;
  margin-bottom: 25px;
}


.nav-color {
  color: $blue-dark;
}

.no-margin{
  margin: 0;
}

.wide-container{
    height: 28vh;
    max-height: 28vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

.bg-teal-light{
  background-color: $teal-med-light;
}
.column-label{
  padding: 10px;
  font-family: Charlevoix-Bold;
  color: $teal-med-light;
  font-size: 20pt;
  text-align: center;
}




.row-label{
  padding-top: 15px;
  padding-left: 10px;
  text-align: left;
  font-family: Geogrotesque-Regular;
  color: black;
  font-size: 40pt;
  visibility: hidden; 
  position: absolute; 
  height: inherit;
  opacity: 0.7;
}

.nav-show-item {
  margin: 5px;
}

.custom-nav {
  border-bottom: 8px solid $teal-med-light;
  background: white;
}

.height-100{
    height: 100px; 

}
.height-150{
    height: 200px; 

}

.graph-footer {
  background-color: white;
  margin-bottom: 0;
}




h1, h2, h3, h4, h5, h6, a.button {
  text-transform: uppercase;
}


.detail-header {
  text-transform: none;
  color: white;
}


.font-black {
  font-family: Charlevoix-Black;
  color: $blue-light;
}

.detail-title {
  font-family: Charlevoix-Bold;
  text-transform: none;
  color: white;
}
.graph-footer-title {
  font-family: Charlevoix-Bold;
  text-transform: none;
  margin-bottom: 0;
}

.p-text{
  font-family: Geogrotesque-Regular;

}

.narrow-nav {
  background-color: $teal-med-light;
  color: white;

}

.narrow-nav a:link {
    color: white;
}

/* visited link */
.narrow-nav a:visited {
    color: white;
}

/* mouse over link */
.narrow-nav a:hover {
    color: white;
}

/* selected link */
.narrow-nav a:active {
    color: white;
}

.oneVideoWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  // padding-bottom: 56.25%; /* 16:9 */
  // padding-top: 25px;
  // height: 0;
}

.oneVideoWrapper iframe {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.row-col-hover {
  background-color: black;
  -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.row-hover:hover .row-col-hover{
  opacity: 0.5;
}

.row-hover:hover .row-label{
  visibility: visible;
}

.row-hover:hover .bg-row-label{
  visibility: visible;
}

.video-county {
  position: absolute;
  top: 0; 
  width: 100%; 
  background-color: $teal-med-light;
  opacity: 0.5;
  color: black;
  font-family: Charlevoix-Bold;
  text-align: center;
}

.row-hover:hover {
  background-color: $teal-med-dark;
}

.team-img {
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.team-col:hover .team-img{
  opacity: 1;
}


