

$blue-dark: #1b2955;
$blue-light: #5fbcbf; //arsenic
$teal-dark: #266067; //nitrate
$teal-med-dark: #337d7b; //fluoride
$teal-med-light: #3eac92;
$teal-light: #8bb5ad;  //ph
$green-light: #8fc495; //lead
