@font-face {
  font-family: Charlevoix-Black;
  src: url("../assets/fonts/CharlevoixPro-Black.otf") format("opentype"); }

@font-face {
  font-family: Charlevoix-Bold;
  src: url("../assets/fonts/CharlevoixPro-Bold.otf") format("opentype"); }

@font-face {
  font-family: Charlevoix-ExtraBold;
  src: url("../assets/fonts/CharlevoixPro-ExtraBold.otf") format("opentype"); }

@font-face {
  font-family: Charlevoix-Light;
  src: url("../assets/fonts/CharlevoixPro-Light.otf") format("opentype"); }

@font-face {
  font-family: Charlevoix-Medium;
  src: url("../assets/fonts/CharlevoixPro-Medium.otf") format("opentype"); }

@font-face {
  font-family: Charlevoix-Regular;
  src: url("../assets/fonts/CharlevoixPro-Regular.otf") format("opentype"); }

@font-face {
  font-family: Charlevoix-Thin;
  src: url("../assets/fonts/CharlevoixPro-Thin.otf") format("opentype"); }

@font-face {
  font-family: Gagalin-Regular;
  src: url("../assets/fonts/Gagalin-Regular.otf") format("opentype"); }

@font-face {
  font-family: Geogrotesque-Light;
  src: url("../assets/fonts/Geogrotesque-Light.otf") format("opentype"); }

@font-face {
  font-family: Geogrotesque-Medium;
  src: url("../assets/fonts/Geogrotesque-Medium.otf") format("opentype"); }

@font-face {
  font-family: Geogrotesque-Regular;
  src: url("../assets/fonts/Geogrotesque-Regular.otf") format("opentype"); }

@font-face {
  font-family: Geogrotesque-RegularItalic;
  src: url("../assets/fonts/Geogrotesque-RegularItalic.otf") format("opentype"); }

@font-face {
  font-family: Geogrotesque-SemiBold;
  src: url("../assets/fonts/Geogrotesque-SemiBold.otf") format("opentype"); }

a {
  text-decoration: none;
  color: #8bb5ad; }

a:hover {
  color: white; }

.faded {
  opacity: 0.6;
  transition: opacity 0.4s, transform 0.4s; }

.faded:hover {
  opacity: 1; }

.coloverlay {
  background-color: rgba(233, 33, 33, 0.4);
  border: 1px solid red;
  height: 100%; }

.bg-row-label {
  text-align: left;
  font-family: Charlevoix-Bold;
  text-transform: uppercase;
  color: black;
  font-size: 70pt;
  line-height: 70px;
  visibility: hidden;
  position: absolute;
  margin-top: 30px;
  height: inherit;
  color: black;
  opacity: 0.7; }

.bg-Fluoride {
  background-color: #337d7b; }

.bg-Arsenic {
  background-color: #5fbcbf; }

.bg-Lead {
  background-color: #8fc495; }

.bg-Nitrate {
  background-color: #266067; }

.bg-pH {
  background-color: #8bb5ad; }

.color-Fluoride {
  color: #337d7b; }

.color-Arsenic {
  color: #5fbcbf; }

.color-Lead {
  color: #8fc495; }

.color-Nitrate {
  color: #266067; }

.color-pH {
  color: #8bb5ad; }

.human-effect-title {
  color: #3eac92;
  text-transform: uppercase;
  font-family: Charlevoix-Bold;
  font-size: 85px;
  text-align: center; }

.human-effect-quote {
  color: white;
  font-family: Charlevoix-Bold;
  font-size: 30px;
  text-align: center;
  opacity: 0.7; }

.human-effect-map {
  width: 100%;
  float: right; }

.human-effect-map-legend {
  font-family: Geogrotesque-Regular;
  color: white;
  font-size: 35px; }

.human-effect-map-legend-2 {
  font-family: Geogrotesque-Regular;
  color: white;
  font-size: 28px;
  max-width: 75%;
  line-height: 38px;
  padding-bottom: 10px; }

.legend-div {
  margin-bottom: 25px; }

.human-effect-map-credits {
  font-family: Geogrotesque-Regular;
  color: white;
  font-size: 14px;
  margin-bottom: 30px; }

.human-effect-text {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 5px solid #3eac92;
  padding-top: 5px;
  font-family: Geogrotesque-Regular;
  color: white;
  font-size: 16px;
  margin-bottom: 30px; }

.about-header {
  margin-right: 20px;
  color: #3eac92;
  font-family: Charlevoix-Bold;
  font-size: 36px; }

.bold-colored {
  color: #3eac92;
  font-weight: bold; }

.text-reference {
  font-size: 14px;
  color: #3eac92; }

.map-1-key-1 {
  height: 23px;
  margin-left: 17px; }

.about-text {
  color: white;
  font-family: Geogrotesque-Regular; }

.map-1-key-2 {
  height: 140px;
  margin-left: 15px; }

.map-1-key-3 {
  height: 65px; }

.map-2-key-1 {
  height: 160px;
  margin-left: 8px; }

.counties {
  height: 55px;
  margin-bottom: 25px; }

.nav-color {
  color: #1b2955; }

.no-margin {
  margin: 0; }

.wide-container {
  height: 28vh;
  max-height: 28vh;
  overflow-x: auto;
  overflow-y: hidden; }

.bg-teal-light {
  background-color: #3eac92; }

.column-label {
  padding: 10px;
  font-family: Charlevoix-Bold;
  color: #3eac92;
  font-size: 20pt;
  text-align: center; }

.row-label {
  padding-top: 15px;
  padding-left: 10px;
  text-align: left;
  font-family: Geogrotesque-Regular;
  color: black;
  font-size: 40pt;
  visibility: hidden;
  position: absolute;
  height: inherit;
  opacity: 0.7; }

.custom-nav {
  height: 100px;
  border-bottom: 8px solid #3eac92; }

.graph-footer {
  background-color: white;
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6, a.button {
  text-transform: uppercase; }

.detail-header {
  text-transform: none;
  color: white; }

.font-black {
  font-family: Charlevoix-Black;
  color: #5fbcbf; }

.detail-title {
  font-family: Charlevoix-Bold;
  text-transform: none;
  color: white; }

.graph-footer-title {
  font-family: Charlevoix-Bold;
  text-transform: none;
  margin-bottom: 0; }

.p-text {
  font-family: Geogrotesque-Regular; }

.narrow-nav {
  background-color: #3eac92;
  color: white; }

.narrow-nav a:link {
  color: white; }

/* visited link */
.narrow-nav a:visited {
  color: white; }

/* mouse over link */
.narrow-nav a:hover {
  color: white; }

/* selected link */
.narrow-nav a:active {
  color: white; }

.oneVideoWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }

.oneVideoWrapper iframe {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.row-col-hover {
  background-color: black;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }

.row-hover:hover .row-col-hover {
  opacity: 0.5; }

.row-hover:hover .row-label {
  visibility: visible; }

.row-hover:hover .bg-row-label {
  visibility: visible; }

.video-county {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #3eac92;
  opacity: 0.5;
  color: black;
  font-family: Charlevoix-Bold;
  text-align: center; }

.row-hover:hover {
  background-color: #337d7b; }

.team-img {
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }

.team-col:hover .team-img {
  opacity: 1; }
